<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">{{ data.title }}
        <small></small>
    </h1>

    <div class="row">
        <div class="col-md-12">
            <img class="img-fluid float-left col-md-4 mb-3 mb-md-0" src="{{ site.url }}/img/mikael.jpg" style="padding-left: 0 !important;" alt="">
            <p>Mikael Torfason is an Icelandic native who has written seven novels, published in Iceland, Denmark, Finland, Germany and Lithuania. He has also written for film and theater. In 2002 he directed his first feature film and he has been Editor-In-Chief for two of the three big newspapers in Iceland. His latest book, Lost in Paradise, is a national bestseller, and for his new play he received Gríman, the Icelandic Theatre Award, for best written play. He lives in Reykjavik, and is currently writing a new book and a play.
            <br />
            <br />
            Mikael Torfason was born in Reykjavik in 1974. He has written seven novels, all published in Iceland and some have traveled in Europe; translated into Germany, Danish, Finnish, Swedish, Lithuanian. Mikael also wrote and directed the feature film Made in Iceland (Gemsar). The film was very well received in Iceland, and traveled the film festival, and got nominated as Best Picture in Scandinavia in 2002.
            <br />
            <br />
            Lost in Paradise (Týnd í Paradís) is Torfason´s sixth book. It was published in 2015, and is a bestseller in Iceland. His fourth novel, Samuel, was nominated for The Icelandic Literature Prize and his third novel, The Worlds Stupidiest Dad, was nominated for Nordic Council's Literature Prize in Scandinavia as well as the DV Literature Prize.
            <br />
            <br />            
            Torfason has also written for theatre, and he has been Editor-in-Chief for two of the three big newspapers in Iceland, as well as being executive director for the largest magazine media company in the country.
            <br />
            <br />            
            In 2013 a new film, based on Torfason's first book, premiered in Iceland. His latest theatre work includes Njála, The Story of Burnt Njal, which was nominated for 11 Gríma Theatre Awards in Iceland. It won 10 awards, including best written play.
            <br />
            <br />            
            Mikael Torfason lives in Reykjavik. He has four children, and is currently writing a new book as well as a new play.
            <br />
            <br />
            If you need to contact please write to mikaeltorfason@gmail.com.
            </p>
        </div>
    </div>
</div>
