<!-- Bootstrap core JavaScript -->
<script src="{{ site.url }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.url }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.url }}/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ site.url }}/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="{{ site.url }}/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="{{ site.url }}/js/creative.min.js"></script>
