<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">About Mikael Torfason</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Mikael Torfason has done stuff Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque vitae sem eu mollis. Cras consequat nunc eget bibendum lacinia. Aenean sapien diam, pharetra id blandit ut, maximus eu nisl. Aliquam tincidunt venenatis ligula, ut sodales dui. Vivamus in velit turpis. Praesent pellentesque, dui et dignissim lobortis, orci dolor porttitor ligula, sit amet dapibus risus quam quis nunc. Proin egestas tristique vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis tristique consectetur urna sed porttitor. Nullam pharetra ante non velit convallis posuere. Maecenas porta luctus cursus. Nunc dictum nisi justo, ac dictum odio cursus sed. Etiam pulvinar neque ac risus dictum condimentum.
                </p>
            </div>
        </div>
    </div>
</section>